
# HTID:12870536: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12870536:
RewriteEngine On
RewriteRule . link.php [L]
